@media only screen and(min-width: 700px) {
}
body {
  height: 1440vh;
  margin:auto;
  background: radial-gradient(#c33bd9, #9c82f2, #dec0f1);
  background-repeat: no-repeat;
  color:white;
  font-family:tahoma;



}
.center{
display:block;
margin-right:auto;
margin-left:auto;
}

.header{
  padding: 20px;
  text-align: center;
  background: #957FEF;
  color: white;
  font-size: 10px;
}


img{
  width: 100%;
}


h1,h2
{
  text-align: center;
  text-shadow: 1px 1px 5px grey
}

main{
  display:block;
  margin:auto;
  width:500px;
}

a{
    color: white;
    text-decoration: none;

}
a:hover{
    color: pink;
    text-decoration:underline;
}
a:visited{
      /* color: white; */
}

ol{
    font-size: 1.3em;
    line-height: 1.5em;

}
li{
    margin-left: 15px;



}


div.transbox {
  background-color:rgba(149, 127, 239, 0.5);
  width: 70%;
  padding: 50px;
  margin: 20px;

}


p{
  font-size: 1.2em;
  font-weight: 400;
  text-shadow: 1px 1px 5px grey
}


@media screen and (min-width: 600px) {
  div.example {
    font-size: 80px;
  }
}
@media only screen and (orientation: landscape) {

  }
}
